autom4te.cache/
zig-cache/
bin/
.deps/

static/*
!static/build.sh

Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
.dirstamp
*.o
stamp-h1
ncdu
*~
*.swp

/ncdu-*.tar.gz
